body {
  font-size: 14px;
  margin: 0px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

/* Changes here will impact all the elements */
section {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element-one, .element-two, .element-three, .element-four, .element-five, .element-six {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* Separated elements so they can each be changed in future */
.element-seven, .element-eight, .element-nine {
    background-color: blue;
    height: 100px;
    margin: 10px 0;
    width: 100%;
}